@media screen and (max-width:1230px){
    .div-input a {
        padding: 15px 100px;
    }
}






@media screen and (max-width:1024px){
    .div-container {
        margin-left: 10px;
        margin-right: 10px;
        
    }

}



@media screen and (max-width:1000px){
    .div-input input {
        width: 25%;
    }

    .div-link {
        position: absolute;
        z-index: 2;
        width: 80%;
        display: none;
        top: 0;
        right: 50px;
        text-align: right;
        transition: flex 0.9s ease-in-out;
    }

    .activar-menu {
        display: block;
        margin-right: 20px;
        margin-top: -5px;
    }

    #btn-menu {
        
        text-decoration: none;
    }


    .div-icono-menu {
        display: block;
       position: relative;
       float: right;
       margin-top: 10px;

       margin-right: 10px;
    }
    
    #icono-menu {
        font-size: 36px;
        display: block;
        color: white;
        
    }

    .div-feature {
        text-align: center;
        margin-bottom: 0px;
    }

    .div-sub-feature{
        margin-bottom: 0px;
    }

    .div-tarjeta-1{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .div-tarjeta-2{
        width: 50%;
        display: block;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .div-sub-suscribete {
        height: auto;
    }

    .div-input {
        text-align: center;
    }

    .div-input input {
        width: 100%;
        margin-top: 10px;
    }

    .div-btn-suscribete {
        width: 100%;
        margin-top: 50px;
        text-align: center;
        height: 100px;

    }

    .div-btn-suscribete a {
        position: none;
        float: none;
        padding: 15px 50px;
    }

    .div-sub-team {
        text-align: center;
    }

    .div-perfiles {
        display: block;
        width: auto;
        margin-left: 0;
    }

    .div-question {
        width: 100%;
        margin-left: 0;
    }



}


@media screen and (max-width:550px){

    .div-imagen-bienvenida {
        display: none;
    }

    .control-img-bien img {
        display: none;
    }

    .div-text-bienvenida {
        width: 100%;
    }

    .control-text-bien {
        margin-top: 50px;
    }

    .div-tarjeta-1 {
        width: 100%;
    }

    .div-tarjeta-2 {
        width: 100%;
    }

    .div-perfil-img img {
        width: 30%;
    }

    .div-input input {
        width: 90%;
    }


}